*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end;
  gap: 30px;
  block-size: 534px;
  inline-size: 1140px;
}

.result {
  display: grid;
  align-items: end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: fill;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: stretch;
  align-items: start;
  block-size: 54px;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

.search-form__fieldset {
  border: none;
  padding-right: 40px;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.70);
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  inline-size: 225px;
  appearance: none; 
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.70);
}

.search-form__textfield:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  outline: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  padding: 1px 0 1px 1px;
  cursor: pointer;
  inline-size: fit-content;
}

.search-form__label-text {
  line-height: 17px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  inline-size: 14px;
  block-size: 14px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  border-bottom: 1px solid #fff;
}

.search-form__label:active .search-form__label-text {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 14px;
  inline-size: fit-content;
}

.button {
  border: 1px solid #fff;
  padding: 6px 0;
  color: #fff;
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  flex-grow: 1;
  align-self: end;
}

.more-button {
  inline-size: 100%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}






.content__details {
  display: grid;
  align-items: end;
  gap: 26px;
  block-size: 100%;
}

.title{
  color: #FFF;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
  block-size: 210px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: grid;
  gap: 30px;
  padding: 2px;
  overflow: scroll;
  block-size: 298px;
}

.content__list-item {
  overflow: visible;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  block-size: 107px;
}

.content__video-card-title {
  padding-bottom: 6px;
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-decoration: none;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px; /* 90% */
  text-decoration: none;
}

.content__card-link {
  display: block;
  padding: 1px;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

 .content__card-link:focus-visible  {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__video-card-thumbnail {
  inline-size: 194px;
}